Project3/Project3Task1Client/xml-resources/web-service-references/Task1Server/wsdl/localhost_8080/Project3Task1Server/Task1Server.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sxu1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sxu1/" name="Task1Server">
<types>
<xsd:schema>
<xsd:import namespace="http://sxu1/" schemaLocation="http://localhost:8080/Project3Task1Server/Task1Server?xsd=1"/>
</xsd:schema>
</types>
<message name="highTemperature">
<part name="parameters" element="tns:highTemperature"/>
</message>
<message name="highTemperatureResponse">
<part name="parameters" element="tns:highTemperatureResponse"/>
</message>
<message name="lowTemperature">
<part name="parameters" element="tns:lowTemperature"/>
</message>
<message name="lowTemperatureResponse">
<part name="parameters" element="tns:lowTemperatureResponse"/>
</message>
<message name="getTemperatures">
<part name="parameters" element="tns:getTemperatures"/>
</message>
<message name="getTemperaturesResponse">
<part name="parameters" element="tns:getTemperaturesResponse"/>
</message>
<message name="getLastTemperature">
<part name="parameters" element="tns:getLastTemperature"/>
</message>
<message name="getLastTemperatureResponse">
<part name="parameters" element="tns:getLastTemperatureResponse"/>
</message>
<portType name="Task1Server">
<operation name="highTemperature">
<input wsam:Action="http://sxu1/Task1Server/highTemperatureRequest" message="tns:highTemperature"/>
<output wsam:Action="http://sxu1/Task1Server/highTemperatureResponse" message="tns:highTemperatureResponse"/>
</operation>
<operation name="lowTemperature">
<input wsam:Action="http://sxu1/Task1Server/lowTemperatureRequest" message="tns:lowTemperature"/>
<output wsam:Action="http://sxu1/Task1Server/lowTemperatureResponse" message="tns:lowTemperatureResponse"/>
</operation>
<operation name="getTemperatures">
<input wsam:Action="http://sxu1/Task1Server/getTemperaturesRequest" message="tns:getTemperatures"/>
<output wsam:Action="http://sxu1/Task1Server/getTemperaturesResponse" message="tns:getTemperaturesResponse"/>
</operation>
<operation name="getLastTemperature">
<input wsam:Action="http://sxu1/Task1Server/getLastTemperatureRequest" message="tns:getLastTemperature"/>
<output wsam:Action="http://sxu1/Task1Server/getLastTemperatureResponse" message="tns:getLastTemperatureResponse"/>
</operation>
</portType>
<binding name="Task1ServerPortBinding" type="tns:Task1Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="highTemperature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lowTemperature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTemperatures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastTemperature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Task1Server">
<port name="Task1ServerPort" binding="tns:Task1ServerPortBinding">
<soap:address location="http://localhost:8080/Project3Task1Server/Task1Server"/>
</port>
</service>
</definitions>